<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key ="SearchServiceName" value ="realestate"/>
		<add key ="SearchCredentials" value="96BE40C474500CE1B8FCAB22EB5C6A93"/>
	</appSettings>
</configuration>